In [58]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.linear_model as skl_lm
from numpy import nan
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf

dataset = pd.read_csv('Hitters.csv', index_col=0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322 entries, 293 to 631
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Hits       322 non-null    int64
 1   HmRun      322 non-null    int64
 2   Runs       322 non-null    int64
 3   RBI        322 non-null    int64
 4   Walks      322 non-null    int64
 5   Years      322 non-null    int64
 6   CAtBat     322 non-null    int64
 7   CHits      322 non-null    int64
 8   CHmRun     322 non-null    int64
 9   CRuns      322 non-null    int64
 10  CRBI       322 non-null    int64
 11  CWalks     322 non-null    int64
 12  League     322 non-null    object
 13  Division   322 non-null    object
 14  PutOuts    322 non-null    int64
 15  Assists    322 non-null    int64
 16  Errors     322 non-null    int64
 17  Salary     263 non-null    float64
 18  NewLeague  322 non-null    object
dtypes: float64(1), int64(15), object(3)
memory usage: 50.3+ KB

In [59]:
dataset.head(20)

,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
AtBat,,,,,,,,,,,,,,,,,,,
293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.000,N
479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.000,A
496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.000,N
321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.500,N
594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.000,A
185,37,1,23,8,21,2,214,42,1,30,9,24,N,E,76,127,7,70.000,A
298,73,0,24,24,7,3,509,108,0,41,37,12,A,W,121,283,9,100.000,A
323,81,6,26,32,8,2,341,86,6,32,34,8,N,W,143,290,19,75.000,N
401,92,17,49,66,65,13,5206,1332,253,784,890,866,A,E,0,0,0,1100.000,A
574,159,21,107,75,59,10,4631,1300,90,702,504,488,A,E,238,445,22,517.143,A
202,53,4,31,26,27,9,1876,467,15,192,186,161,N,W,304,45,11,512.500,N
418,113,13,48,61,47,4,1512,392,41,205,204,203,N,E,211,11,7,550.000,N
239,60,0,30,11,22,6,1941,510,4,309,103,207,A,E,121,151,6,700.000,A
196,43,7,29,27,30,13,3231,825,36,376,290,238,N,E,80,45,8,240.000,N
183,39,3,20,15,11,3,201,42,3,20,16,11,A,W,118,0,0,NaN,A
568,158,20,89,75,73,15,8068,2273,177,1045,993,732,N,W,105,290,10,775.000,N
190,46,2,24,8,15,5,479,102,5,65,23,39,A,W,102,177,16,175.000,A
407,104,6,57,43,65,12,5233,1478,100,643,658,653,A,W,912,88,9,NaN,A
127,32,8,16,22,14,8,727,180,24,67,82,56,N,W,202,22,2,135.000,N

In [60]:
#removes all of the rows containing NaN
y = dataset.NewLeague
del dataset['NewLeague']
x = dataset
ds = np.array(dataset)
length = len(ds)
i = 0
while(i < length):
    for j in range(0, len(ds[i])):
        if(ds[i][j] != ds[i][j]):
            ds = np.delete(ds, (i), axis=0)
            x = x.drop(x.index[i])
            y = y.drop(y.index[i])
            length = length - 1
        j = j + 1
    i = i + 1

IndexError: index 249 is out of bounds for axis 0 with size 247

In [ ]:
df = list(ds)
print(x)
print(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [ ]:
print(y)